@{
    ViewBag.Title = "Primitive Value Text Binding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <p>The following sentence is built using the Knockout text binding:</p>
    <p><span data-bind="text: greeting"></span>, <span data-bind="text: subject"></span><span data-bind="text: punctuation"></span></p>
    <form class="well">
        <label>Greeting:</label>
        <input data-bind="value: greeting" />
        
        <label>Subject:</label>
        <input data-bind="value: subject" />
        
        <label>Punctuation:</label>
        <input data-bind="value: punctuation" />
    </form>
</div>

@section Scripts
{
    <script type="text/javascript">

        $(function () {

            function ViewModel() {
                this.greeting = "Hello";
                this.subject = "World";
                this.punctuation = "!";
            }

            var viewModel = new ViewModel();
            ko.applyBindings(viewModel);
        });
    </script>
}