@{
    ViewBag.Title = "Visible Binding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <p data-bind="visible: flagOne">This text should only be visible if flag one (1) is checked!</p>
    <p data-bind="visible: flagTwo">This text should only be visible if flag two (2) is checked!</p>
    <p data-bind="visible: flagOne() || flagTwo()">This text should only be visible either flags are checked!</p>
    
    <form class="well">
        <lable>Flag One:</lable>
        <input type="checkbox" data-bind="checked: flagOne" />
    
        <lable>Flag Two:</lable>
        <input type="checkbox" data-bind="checked: flagTwo" />
    </form>
</div>

@section Scripts
{
    <script type="text/javascript">

        $(function () {

            function ViewModel() {
                this.flagOne = ko.observable(true);
                this.flagTwo = ko.observable(true);
            }

            var viewModel = new ViewModel();
            ko.applyBindings(viewModel);
        });
    </script>
}