@{
    ViewBag.Title = "With Binding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
	<div class="row-fluid">
		<dl data-bind="with: person">
			<dt>Title</dt>
			<dd data-bind="text: title"></dd>
		
			<dt>First Name</dt>
			<dd data-bind="text: firstName"></dd>
		
			<dt>Last Name</dt>
			<dd data-bind="text: lastName"></dd>
		</dl>
	</div>
	
	<div class="row-fluid">
		<form class="well" data-bind="with: person">
			<lable>Title</lable>
			<input type="text" data-bind="value: title"/>

			<lable>First Name</lable>
			<input type="text" data-bind="value: firstName"/>

			<lable>Last Name</lable>
			<input type="text" data-bind="value: lastName"/>
		</form>
	
	</div>
</div>

@section Scripts
{
    <script type="text/javascript">

    	$(function () {

    		function ViewModel() {
    			this.person = {
    				title: ko.observable('Mr.'),
    				firstName: ko.observable('John'),
					lastName: ko.observable('Smith')
    			};
    		}

    		var viewModel = new ViewModel();
    		ko.applyBindings(viewModel);
    	});
    </script>
}